<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	
	<bean id="resource.PropertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean>
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="maxActive" value="${jdbc.maxActive}" />
		<property name="maxIdle" value="${jdbc.maxIdle}" />
		<property name="minIdle" value="${jdbc.minIdle}" />
		<property name="maxWait" value="${jdbc.maxWait}" />
		<property name="defaultAutoCommit" value="${jdbc.defaultAutoCommit}" />
		<property name="removeAbandoned" value="${jdbc.removeAbandoned}" />
		<property name="removeAbandonedTimeout"	value="${jdbc.removeAbandonedTimeout}" />
	</bean>
     <bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="mappingLocations">
			<list>
				<value>
					classpath:/com/login/pojo/*.hbm.xml
				</value>
				<value>
					classpath*:/com/sysConfig/pojo/*.hbm.xml
				</value>
				<value>
					classpath*:/com/hunt/pojo/*.hbm.xml
				</value>
				<value>
					classpath*:/com/cms/pojo/*.hbm.xml
				</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<bean id="HibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="daoTool"
		class="com.common.dao.impl.DaoToolImpl" scope="singleton">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="jdbcTool"
		class="com.common.dao.impl.JdbcTool" scope="singleton">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	<!-- 登录 -->
	<bean id="loginDao" class="com.login.dao.impl.LoginDaoImpl">
		<property name="daoTool" ref="daoTool"></property>
		<property name="jdbcTool" ref="jdbcTool"></property>
	</bean>
	<bean id="loginService" class="com.login.service.impl.LoginServiceImpl">
		<property name="loginDao" ref="loginDao"></property>
	</bean>
	<!-- 左侧树 -->
	<bean id="leftTreeDao" class="com.sysConfig.dao.impl.LeftTreeDaoImpl">
		<property name="daoTool" ref="daoTool"></property>
		<property name="jdbcTool" ref="jdbcTool"></property>
	</bean>
	<bean id="leftTreeService" class="com.sysConfig.service.impl.LeftTreeServiceImpl">
		<property name="leftTreeDao" ref="leftTreeDao"></property>
	</bean>
	<!-- 会员管理 -->
	<bean id="usersDao" class="com.hunt.dao.impl.UsersDaoImpl">
		<property name="daoTool" ref="daoTool"></property>
	</bean>
	<bean id="usersService" class="com.hunt.service.impl.UsersServiceImpl">
		<property name="usersDao" ref="usersDao"></property>
	</bean>
	<!-- 留言管理 -->
	<bean id="commentDao" class="com.hunt.dao.impl.CommentDaoImpl">
		<property name="daoTool" ref="daoTool"></property>
		<property name="jdbcTool" ref="jdbcTool"></property>
	</bean>
	<bean id="commentService" class="com.hunt.service.impl.CommentServiceImpl">
		<property name="commentDao" ref="commentDao"></property>
	</bean>
	<!-- 申请管理 -->
	<bean id="applyDao" class="com.hunt.dao.impl.ApplyDaoImpl">
		<property name="daoTool" ref="daoTool"></property>
		<property name="jdbcTool" ref="jdbcTool"></property>
	</bean>
	<bean id="applyService" class="com.hunt.service.impl.ApplyServiceImpl">
		<property name="applyDao" ref="applyDao"></property>
	</bean>
	<!-- 前台导航 -->
	<bean id="menuDao" class="com.cms.dao.imp.MenuDaoImp">
		<property name="daoTool" ref="daoTool"></property>
	</bean>
	<bean id="menuService" class="com.cms.service.imp.MenuServiceImp">
		<property name="dao" ref="menuDao"></property>
	</bean>
	<!-- 文章分类 -->
	<bean id="articleDao" class="com.cms.dao.imp.ArticleDaoImp">
		<property name="daoTool" ref="daoTool"></property>
		<property name="jdbcTool" ref="jdbcTool"></property>
	</bean>
	<bean id="articleService" class="com.cms.service.imp.ArticleServiceImp">
		<property name="dao" ref="articleDao"></property>
	</bean>
	<!-- 图片管理 -->
	<bean id="imageDao" class="com.cms.dao.imp.ImageDaoImp">
		<property name="daoTool" ref="daoTool"></property>
		<property name="jdbcTool" ref="jdbcTool"></property>
	</bean>
	<bean id="imageServ" class="com.cms.service.imp.ImageServiceImp">
		<property name="imageDao" ref="imageDao"></property>
	</bean>
</beans>
