*{
	font-size:14px;
}
body {
    padding:10px;
    font-size:13px;
    margin:0;
    height:97%;
}
h2 {
    font-size:18px;
    color:#333;
    font-weight:bold;
    margin:0;
    margin-bottom:15px;
}
.demo-info{
	background:#FFFEE6;
	color:#8F5700;
	padding:12px;
}
.demo-tip{
	width:24px;
	height:16px;
	float:left;
}
/*arc*/
.arc_title{width:680px; height:65px; border-bottom:solid 1px #ccc; margin:20px auto 20px; display:block; font-size: 26px;}
.arc_title p{font:12px 'ו';}
.arc_con{width:660px; line-height:22px; margin:30px auto; text-align:left; text-indent:28px; font-size:14px;}
